html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body 
{
  margin-bottom: 60px;
  overflow: hidden;
}


.myNavBar
{
  height: 50px;
  border-bottom: 1px solid silver;
}

.pageNav
{
  margin: 12px;
  color:  #6E6E6E;
  margin-left: 14px;
  font-family: "sans-serif", sans-serif;
}

.backNav
{
  text-decoration: none;
  color:  #4B4B4B;
  margin-left: 2px;
  font-size: 12px;
}

.backNav a:hover
{
  color: #4B4B4B;
  text-decoration: underline;
}

.currentPageNav
{
  font-size: 12px;
  color: #4B4B4B;
}

.boxico
{
  margin-top: -2px;
}

.pageBody
{
  background: 	#F5F5F5;
}

.rightNav
{
  margin: 12px;
}

.zoomInput
{
  all: unset;
  border-bottom: 1px solid;
  font-size: 12px;
  width: 70px;
}

.zoomSelectList
{
  background-color: white;
  border: 1px solid gray;
  width: 70px;
  border-top:0;
}

.zoomSelectList ul
{
  list-style-type: none;
  margin: 0;
  padding: 0; margin-left:3px; font-size: 13px;
}

.zoomSelectList ul li
{
  cursor: default;
}

#zoomSelectDropDownArrow
{
  margin-left:-17px;
}

#zoomSelectDropDownBlock
{
  display: none;
}

.questionsSelectList
{
  background-color: white;
  border: 1px solid gray;
  width: 200px;
}

.questionsSelectList ul
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-left: 5px;
  margin:3px; 
  font-size: 15px;
  cursor: pointer;
}

.questionsSelectList ul li:hover
{
  background-color: silver;
}

.speech-bubble 
{
	position: relative;
	background: white;
	border-radius: .4em;
  margin-left: 0;/*-155px;*/
  margin-top: 10px;
  border: 1px solid dimgray;
}

.speech-bubble:after 
{
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 5px;
	height: 5px;
	border: 10px solid transparent;
	border-bottom-color: black;
	border-top: 0;
	margin-left: 50px;
	margin-top: -10px;
}

.rightBar
{
  width: 400px;
  height: 1000px;
  float: right;
}

.rightBarBody
{
  width: 400px;
  height: 100%;
  border-left: 2px solid silver;
}

.rightBarNav
{
  width: 50px;
  height: 100%;
  float: right;
  border-left: 1px solid silver;
  background-color: whitesmoke;
}

.commentsIcon
{
  padding: 5px;
  margin-left: 5px;
}

.commentsCount
{
  font-size:9px; 
  margin-top:-35px; 
  margin-left:20px; 
  background-color:gray; 
  color: white; 
  border-radius: 50%; 
  text-align: center; 
  width: 15px;
  height: 15px;
  z-index:1; 
  position: absolute
}

.activeRightBarNav
{
  background-color: silver;
  padding: 7px;
  border-radius: 7px;
}

.codeIcon
{
  margin-left:8px; 
  margin-top:15px;
}

.codeIcon div:hover
{
  background-color:silver; 
  border-radius: 5px; /*
  width:25px; 
  height:25px;*/
}

.bracesIcon
{
  margin-top: 15px;
}

.rightBarBarMainBody
{
  overflow-y: auto;
  max-height: 89.5vh;
}

.commentBox
{
  margin-left:20px; 
  margin-top:30px; 
  width: 290px; 
  height: 40px; 
  border: 1px solid silver; 
  border-radius: 6px;
}

.commentBtns
{
  margin-left: 175px;
  margin-top:10px;
}

#commentSubmitBtn
{
  border-radius: 30px; 
  font-size: 13px; 
  color: gray; 
  background-color:silver; 
  border:0;
}

#commentCancelBtn
{
  color: gray; 
  font-size:13px;
}

.commentsList
{
  margin-top:-15.5px;
}

.commentPreviewBox
{
  margin-left: 20px;
  margin-left:-1px; 
  padding-bottom:5px; 
  padding-top:10px;
  border-bottom: 1px solid silver;
}

.commentPreviewBoxActive
{
  border-left: 5px solid deepskyblue; 
}

.commentTitle
{
  font-size: 13px;
  margin-left:20px;
}

.commentPerson
{
  margin-left:10px;
  margin-left:20px;
}

.userIcon
{
  margin-left:20px;
}

#userIconImg
{
  height: 30px; 
  width:30px; 
  border-radius: 50%;
}

.usersDetails
{
  margin-left:40px; 
  margin-top:-30px;
  margin-left:60px;
}

.userNames
{
  font-size:13px; 
  color:dimgray;
}

.commentText
{
  margin-left:10px; 
  margin-top:-10px; 
  font-size:13px;
  margin-left:40px;
}

.commentReply
{
  margin-left:10px; 
  margin-top:-5px; 
  color:dimgray;
  font-size: 13px;
  margin-left:40px;
}

.rightBarBodyFooter
{
  border-top: 1px solid silver;
}

.switch 
{
  position: relative;
  display: inline-block;
  width: 45px;
  height: 23px;
}

.switch input 
{ 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider 
{
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before 
{
  position: absolute;
  content: "";
  height: 15px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider 
{
  background-color: #2196F3;
}

input:focus + .slider 
{
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before 
{
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round 
{
  border-radius: 34px;
}

.slider.round:before 
{
  border-radius: 50%;
}

.rightBarFooter
{
  margin-top:13px;
  margin-left:15px;
}

.allCommentTxt
{
  margin-left: 10px; 
  font-size:13px;
}

.hideAnnotationsIcon
{
  margin-left:60px;
}

.filterCommentsIcon
{
  margin-left: 10px;
}

.flagIcon 
{ 
  margin-top: 710px; 
}

.flagIcon svg:hover
{
  color: dimgray;
}

.pageFooter
{
  position: fixed;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 79.2%;
  height: 100px;
  background: whitesmoke;
}

.mainPageBody
{
  width:70%;
  overflow-y: auto;
  max-height: 89.5vh;
  height:84vh; 
}

.displayImage
{
  width:100%; 
  height:100%;
}