@{
    ViewData["Title"] = "Flow 1";
}

<div>
  <aside class="rightBar">
    <div class="rightBarBody">
      <div class="rightBarNav">
        <div class="commentsIcon">
          <div class="activeRightBarNav">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="dimgray" class="bi bi-chat-square-fill" viewBox="0 0 16 16">
              <path d="M2 0a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h2.5a1 1 0 0 1 .8.4l1.9 2.533a1 1 0 0 0 1.6 0l1.9-2.533a1 1 0 0 1 .8-.4H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
            </svg>
          </div>
          <div class="commentsCount">13</div>
        </div>
        <div class="codeIcon">
          <div class="text-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-code-slash" viewBox="0 0 16 16">
              <path d="M10.478 1.647a.5.5 0 1 0-.956-.294l-4 13a.5.5 0 0 0 .956.294l4-13zM4.854 4.146a.5.5 0 0 1 0 .708L1.707 8l3.147 3.146a.5.5 0 0 1-.708.708l-3.5-3.5a.5.5 0 0 1 0-.708l3.5-3.5a.5.5 0 0 1 .708 0zm6.292 0a.5.5 0 0 0 0 .708L14.293 8l-3.147 3.146a.5.5 0 0 0 .708.708l3.5-3.5a.5.5 0 0 0 0-.708l-3.5-3.5a.5.5 0 0 0-.708 0z"/>
            </svg>
          </div>
        </div>
        <div class="codeIcon bracesIcon">
          <div class="text-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-braces" viewBox="0 0 16 16">
              <path d="M2.114 8.063V7.9c1.005-.102 1.497-.615 1.497-1.6V4.503c0-1.094.39-1.538 1.354-1.538h.273V2h-.376C3.25 2 2.49 2.759 2.49 4.352v1.524c0 1.094-.376 1.456-1.49 1.456v1.299c1.114 0 1.49.362 1.49 1.456v1.524c0 1.593.759 2.352 2.372 2.352h.376v-.964h-.273c-.964 0-1.354-.444-1.354-1.538V9.663c0-.984-.492-1.497-1.497-1.6zM13.886 7.9v.163c-1.005.103-1.497.616-1.497 1.6v1.798c0 1.094-.39 1.538-1.354 1.538h-.273v.964h.376c1.613 0 2.372-.759 2.372-2.352v-1.524c0-1.094.376-1.456 1.49-1.456V7.332c-1.114 0-1.49-.362-1.49-1.456V4.352C13.51 2.759 12.75 2 11.138 2h-.376v.964h.273c.964 0 1.354.444 1.354 1.538V6.3c0 .984.492 1.497 1.497 1.6z"/>
            </svg>
          </div>
        </div>
        <div class="flagIcon">
          <div class="text-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-flag-fill" viewBox="0 0 16 16">
              <path d="M14.778.085A.5.5 0 0 1 15 .5V8a.5.5 0 0 1-.314.464L14.5 8l.186.464-.003.001-.006.003-.023.009a12.435 12.435 0 0 1-.397.15c-.264.095-.631.223-1.047.35-.816.252-1.879.523-2.71.523-.847 0-1.548-.28-2.158-.525l-.028-.01C7.68 8.71 7.14 8.5 6.5 8.5c-.7 0-1.638.23-2.437.477A19.626 19.626 0 0 0 3 9.342V15.5a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 1 0v.282c.226-.079.496-.17.79-.26C4.606.272 5.67 0 6.5 0c.84 0 1.524.277 2.121.519l.043.018C9.286.788 9.828 1 10.5 1c.7 0 1.638-.23 2.437-.477a19.587 19.587 0 0 0 1.349-.476l.019-.007.004-.002h.001"/>
            </svg>
          </div>
        </div>
      </div>
      <div class="rightBarBarMainBody">
        <div class="commentForm">
          <form>
            <input type="text" value="" placeholder="Make a comment" class="commentBox"/>
            <div class="pin">

            </div>
            <div class="commentBtns">
              <button class="btn fw-bold" id="commentCancelBtn">Cancel</button>
              <input type="submit" class="btn btn-secondary fw-bold" value="Submit" id="commentSubmitBtn"/>
            </div>
          </form>
        </div>
        <hr />
        <div class="commentsList" id="commentsLitsId">
          <div class="commentPreviewBox commentPreviewBoxActive" id="3">
            <div class="commentTitle" id="3">
              <p class="fw-bold" id="3">admin - wizard - shop - template - 1</p>
            </div>
            <div class="commentPerson" id="3">
              <div class="userIcon" id="3">
                <img src="~/images/app_icon.png" id="userIconImg"/>
              </div>
              <div class="usersDetails" id="3">
                <p class="userNames fw-bold" id="3">Christian Pretorius
                  <span class="userTitle fw-normal" id="3">Owner</span><br />
                  <span class="commentDate fw-normal" id="3">Mar 16</span>
                </p>
              </div>
            </div>
            <div class="commentText" id="3">
              <p id="3">Fix</p>
            </div>
            <div class="commentReply fw-bold">
              <p>Reply</p>
            </div>
          </div>
          <div class="commentPreviewBox" id="6">
            <div class="commentTitle" id="6">
              <p class="fw-bold" id="6">admin - wizard - shop - template - 1</p>
            </div>
            <div class="commentPerson" id="6">
              <div class="userIcon" id="6">
                <img src="~/images/app_icon.png" id="userIconImg"/>
              </div>
              <div class="usersDetails" id="6">
                <p class="userNames fw-bold" id="6">Christian Pretorius
                  <span class="userTitle fw-normal" id="6">Owner</span><br />
                  <span class="commentDate fw-normal" id="6">Mar 16</span>
                </p>
              </div>
            </div>
            <div class="commentText" id="6">
              <p id="6"> Fix</p>
            </div>
           @* <div class="commentReply fw-bold">
              <p>Reply</p>
            </div>*@
          </div>
          <div class="commentPreviewBox" id="9">
            <div class="commentTitle" id="9">
              <p class="fw-bold" id="9">admin - wizard - shop - template - 1</p>
            </div>
            <div class="commentPerson" id="9">
              <div class="userIcon" id="9">
                <img src="~/images/app_icon.png" id="userIconImg"/>
              </div>
              <div class="usersDetails" id="9">
                <p class="userNames fw-bold" id="9">Christian Pretorius
                  <span class="userTitle fw-normal" id="9">Owner</span><br />
                  <span class="commentDate fw-normal" id="9">Mar 16</span>
                </p>
              </div>
            </div>
            <div class="commentText">
              <p>Fix</p>
            </div>
           @* <div class="commentReply fw-bold">
              <p>Reply</p>
            </div>*@
          </div>
          <div class="commentPreviewBox">
            <div class="commentTitle">
              <p class="fw-bold">admin - wizard - shop - template - 1</p>
            </div>
            <div class="commentPerson">
              <div class="userIcon">
                <img src="~/images/app_icon.png" id="userIconImg"/>
              </div>
              <div class="usersDetails">
                <p class="userNames fw-bold">Christian Pretorius
                  <span class="userTitle fw-normal">Owner</span><br />
                  <span class="commentDate fw-normal">Mar 16</span>
                </p>
              </div>
            </div>
            <div class="commentText">
              <p>Fix</p>
            </div>
           @* <div class="commentReply fw-bold">
              <p>Reply</p>
            </div>*@
          </div>
          <div class="commentPreviewBox">
            <div class="commentTitle">
              <p class="fw-bold">admin - wizard - shop - template - 1</p>
            </div>
            <div class="commentPerson">
              <div class="userIcon">
                <img src="~/images/app_icon.png" id="userIconImg"/>
              </div>
              <div class="usersDetails">
                <p class="userNames fw-bold">Christian Pretorius
                  <span class="userTitle fw-normal">Owner</span><br />
                  <span class="commentDate fw-normal">Mar 16</span>
                </p>
              </div>
            </div>
            <div class="commentText">
              <p>Fix</p>
            </div>
            @*<div class="commentReply fw-bold">
              <p>Reply</p>
            </div>*@
          </div>
          <div class="commentPreviewBox">
            <div class="commentTitle">
              <p class="fw-bold">admin - wizard - shop - template - 1</p>
            </div>
            <div class="commentPerson">
              <div class="userIcon">
                <img src="~/images/app_icon.png" id="userIconImg"/>
              </div>
              <div class="usersDetails">
                <p class="userNames fw-bold">Christian Pretorius
                  <span class="userTitle fw-normal">Owner</span><br />
                  <span class="commentDate fw-normal">Mar 16</span>
                </p>
              </div>
            </div>
            <div class="commentText">
              <p>Fix</p>
            </div>
            @*<div class="commentReply fw-bold">
              <p>Reply</p>
            </div>*@
          </div>
          <div class="commentPreviewBox">
            <div class="commentTitle">
              <p class="fw-bold">admin - wizard - shop - template - 1</p>
            </div>
            <div class="commentPerson">
              <div class="userIcon">
                <img src="~/images/app_icon.png" id="userIconImg"/>
              </div>
              <div class="usersDetails">
                <p class="userNames fw-bold">Christian Pretorius
                  <span class="userTitle fw-normal">Owner</span><br />
                  <span class="commentDate fw-normal">Mar 16</span>
                </p>
              </div>
            </div>
            <div class="commentText">
              <p>Fix</p>
            </div>
            @*<div class="commentReply fw-bold">
              <p>Reply</p>
            </div>*@
          </div>
        </div>
      </div>
      <div class="rightBarBodyFooter">
        <div class="rightBarFooter">
          <p>
            <span class="allCommentsViewSlider">
              <label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
              </label>
              <span class="allCommentTxt">All Screen Comments</span>
            </span>
            <span class="hideAnnotationsIcon">
              <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" fill="dimgray" class="bi bi-wechat" viewBox="0 0 16 16">
                <path d="M11.176 14.429c-2.665 0-4.826-1.8-4.826-4.018 0-2.22 2.159-4.02 4.824-4.02S16 8.191 16 10.411c0 1.21-.65 2.301-1.666 3.036a.324.324 0 0 0-.12.366l.218.81a.616.616 0 0 1 .029.117.166.166 0 0 1-.162.162.177.177 0 0 1-.092-.03l-1.057-.61a.519.519 0 0 0-.256-.074.509.509 0 0 0-.142.021 5.668 5.668 0 0 1-1.576.22ZM9.064 9.542a.647.647 0 1 0 .557-1 .645.645 0 0 0-.646.647.615.615 0 0 0 .09.353Zm3.232.001a.646.646 0 1 0 .546-1 .645.645 0 0 0-.644.644.627.627 0 0 0 .098.356Z"/>
                <path d="M0 6.826c0 1.455.781 2.765 2.001 3.656a.385.385 0 0 1 .143.439l-.161.6-.1.373a.499.499 0 0 0-.032.14.192.192 0 0 0 .193.193c.039 0 .077-.01.111-.029l1.268-.733a.622.622 0 0 1 .308-.088c.058 0 .116.009.171.025a6.83 6.83 0 0 0 1.625.26 4.45 4.45 0 0 1-.177-1.251c0-2.936 2.785-5.02 5.824-5.02.05 0 .1 0 .15.002C10.587 3.429 8.392 2 5.796 2 2.596 2 0 4.16 0 6.826Zm4.632-1.555a.77.77 0 1 1-1.54 0 .77.77 0 0 1 1.54 0Zm3.875 0a.77.77 0 1 1-1.54 0 .77.77 0 0 1 1.54 0Z"/>
            </svg>
            </span>
            <span class="filterCommentsIcon">
              <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" fill="dimgray" class="bi bi-sort-up" viewBox="0 0 16 16">
                <path d="M3.5 12.5a.5.5 0 0 1-1 0V3.707L1.354 4.854a.5.5 0 1 1-.708-.708l2-1.999.007-.007a.498.498 0 0 1 .7.006l2 2a.5.5 0 1 1-.707.708L3.5 3.707V12.5zm3.5-9a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zM7.5 6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zm0 3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zm0 3a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1z"/>
              </svg>
            </span>
          </p>
        </div>
      </div>
    </div>
  </aside>
  <div class="mainPageBody mainBodyWidth">
    <div class="displayImage" id="displayImageId">
    </div>
  </div>
</div>
